@import '../../css/style.css';

.contact {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background-color: black;
  padding: 2rem;
  /* border-radius: 50%; */
  box-shadow: 0 0 20px 10px rgba(255, 200, 0, 0.5);
  z-index: 10;
  animation: glowing 3s ease-in-out infinite;
}

.contact:hover {
  box-shadow: 0 0 40px 20px rgba(255, 200, 0, 0.5);
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-link {
  display: inline-block;
  position: relative;
  padding: 10px;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 5px #23d997;
  transition: box-shadow 0.5s ease-in-out;
}

.contact-link:hover {
  box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.5);
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px yellow;
  }
  50% {
    box-shadow: 0 0 30px yellow;
  }
  100% {
    box-shadow: 0 0 10px yellow;
  }
}

a.contact-link:not(:last-child) {
  margin-right: 20px;
}
