body {
    font-family: 'Montserrat', sans-serif;
  }
  

.navigation {
    display: flex;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
 
}
.nav-item {
    margin-right: 1rem;
    border: 1px solid #fff;
    padding: 5px;
  }
  
  .nav-link {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    padding: 0;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s; 
  }
  
  .nav-link:hover, .active {
    color: #23d997;
    text-shadow: 0 0 10px #23d997; 
  }
  
  li {
    padding-right: 10px;
  }