.footer {
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}



