.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.photo-section {
  
  width: 25%;

  top: 110px;
  bottom: 110px;
  padding-left: 1rem;
  background-color: #1a1a1a; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 25%;
  margin-right: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.about-me {
  width: 75%;
  margin-left: 2rem;

}